/* //////////////////////////////////////////////////////////////////////////////
//  investmentsApp.css  -  Aug-26-2020 by aldebap
//
//  Investments web application styles
///////////////////////////////////////////////////////////////////////////// */

.float-toast {
    position: relative;
    min-height: 200px;
    opacity: 0.5;
}

.float {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    opacity: 0.5;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 5px;
}

.dropdown-toggle::after {
    display: none;
}
